:root {

  /* ### Fonts */

  --NormalFont: 400;
  --BoldFont: 700;

  /* ### Primary */

  --DesaturatedDarkCyan-Primary: hsl(180, 29%, 50%);

  /* ### Neutral */

  --LightGrayishCyan-Background: hsl(180, 52%, 96%);
  --LightGrayishCyan-FilterTablets: hsl(180, 32%, 91%);
  --DarkGrayishCyan: hsl(180, 8%, 52%);
  --VeryDarkGrayishCyan: hsl(180, 14%, 20%);
  --Red: hsl(9, 82%, 57%);
}